@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #000;
}

body{
    background-image: url("./images/Untitled\ design.png");
    background-Size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100\%;
}


.container1 {

    padding: 0 0 2em;
}

.container1::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.container1::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.container1::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

.container1::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    display: flex;


    background-color: rgba(255, 255, 255, 0.3);
    font-weight: 500;
    font-size: 17px;

}

.left img {
    height: 50px;
}

.center {
    display: flex;
    margin-right: 42%;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;

}

.center a {
    position: relative;
    cursor: pointer;
    color: #000;

}

.center a::after {
    content: "";
    position: absolute;
    background-color: rgb(199, 57, 57);
    height: 2px;
    width: 0;
    bottom: -0.4em;
    left: 0%;
    transition: 0.3s all ease;
}

.center a:hover::after {
    color: #000;
    width: 100%;
}

.center a.active::after {
    color: #000;
    width: 100%;
}

.heading {
    margin-left: -35%;
    font-weight: 600;
    font-size: 4em;
}

.body {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -12%;
}

.body1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -12%;
}

.discription {
    margin-left: 10%;
    margin-right: 60%;
    margin-top: 1em;
    font-size: 2em;
    font-weight: 500;
}

.content button {
    margin-top: 1.5em;
    background-color: #00bfa6;
    padding: 10px 45px;
    border-radius: 3px;
    cursor: pointer;
}

.KnowMore button {
    background: rgb(218, 177, 42);
    border: 1px solid rgb(218, 177, 42);
    padding: 7px 30px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: 0.3s all ease;
    margin-top: 50px;
    margin-left: 20%;

}

.KnowMore button a{
    text-decoration: none;
    color: #000;
}

.KnowMore button:hover {
    background-color: #fff;
    color: #00bfa6;
    font-weight: 500;
}

.KnowMore button a:hover {
    background-color: #fff;
    color: #00bfa6;
    font-weight: 500;
}

.signin,.checkbox{
    padding: 5px;
}


.container{
    width: fit-content;
    color: #fff;
    padding-left: 200px;
    margin-top: -30%;
    margin-left: 46%;
    margin-right: -2%;
}


label{
    color: #fff;
}



@media only screen and (max-width: 992px) {

    .yo{
        display: none;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 20%;
        margin-top: 65vh;
        margin-left: -100vw;
    }

    body{
        background-image: url("./images/randommobilebg.png");
        background-Size: 100% 100%;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100\%;
    }

    .container1 {
        height: 100%;
        width: 100%;
    }

    .container {
        margin-left: 50%;
        height: 100%;
        width: 25%;
    }

    .navbar { 
        flex-direction: column;
        padding-bottom: 1em;
        width: 100%;
    }


    .right {
        margin-top: 1.5em;
    }

    .image img {
        display: none;
    }
    .center a{
        font-size: 11px;
        font-weight: 700;
    }

    .center{
        margin-top: 1em;
        margin-right: 22px;
        font-size: 20px;
        font-weight: 500;
    }

    .heading {
        margin-left: 8vw;
        font-weight: 600;
        font-size: 4vh;
        color: #fff;
    }

    .body {
        margin-top: 10vh;
    }

    .discription {
        color: #fff;
        margin-left: 3%;
        margin-right: 13%;
        margin-top: 10%;
        font-size: 3vh;
        font-weight: 400;
    }

    .KnowMore {
        margin-left: 10px;

    }
}

